@import "base";

.main-loader {
  @extend %rowCenter;
  animation: main-wrapper .3s ease .3s forwards;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);

  .loader-wrapper {
    @extend %columnCenter;
    transform: translateY(-100%);
    h1 {
      font-family: "Shrikhand", serif;
      margin-bottom: 15px;
    }
    .loader {
      animation: loader 2s linear infinite;
      color: black;
      margin-bottom: 10px;
    }
    p:first-of-type {
      margin-bottom: 5px;
    }
  }
}
.main-container .section > * {
  @media (min-width: 1024px) {
    max-width: 1080px;
    margin-inline: auto;
  }
}
.header {
  @extend %columnCenter;
  .header__title {
    @extend %rowCenter;
    width: 100%;
    z-index: 100;
    height: 63px;
    background-color: $white;
    box-shadow: $shadow-light-sm;
    font-family: "Shrikhand", serif;
    font-size: 30px;
    @media (min-width: 1024px) {
      box-shadow: none;
      height: 96px;
      font-size: 34px;
    }
  }
  .header__location {
    @extend %rowCenter;
    width: 100%;
    height: 50px;
    background-color: $grey-400;
    box-shadow: $shadow-md;
    @media (min-width: 1024px) {
      box-shadow: none;
    }
    .icon {
      padding-right: 10px;
    }
  }
}
.hero {
  @extend %columnCenter;
  text-align: center;
  gap: 30px;
  background-color: $grey-600;
  .section__title {
    @media (min-width: 1024px) {
      font-size: 40px;
    }
  }
  p {
    color: $grey-700;
  }
}
.how-it-works {
  .step-list {
    @extend %displayColumn;
    list-style: none;
    counter-reset: how-it-works;
    font-weight: bold;
    gap: 20px;
    padding-left: 12px;
    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 35px;
    }
    .step-list__item {
      @extend %displayRow;
      counter-increment: how-it-works;
      position: relative;
      border-radius: 20px;
      background-color: $grey-600;
      width: 100%;
      padding: 23px 30px;
      box-shadow: $shadow-light-lg;
      .icon {
        color: $grey-700;
        padding-right: 10px;
      }
      &:last-child .icon {
        color: $color-primary;
      }
    }
    .step-list__item::after {
      @extend %rowCenter;
      @extend %iconSize;
      @extend %basicAbsolute;
      content: counter(how-it-works);
      top: 50%;
      padding-top: 2px;
      z-index: 100;
      transform: translate(-50%, -50%);
      border-radius: 1000px;
      background-color: $color-primary;
      color: white;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
.restaurants {
  background-color: $grey-600;
  .restaurant__list {
    @extend %displayColumn;
    gap: 18px;
    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      row-gap: 50px;
      column-gap: 100px;
    }
    li {
      position: relative;
      .content__like-icon-wrapper {
        position: absolute;
        bottom: 25px;
        right: 20px;
      }
      .restaurant-card {
        @extend %displayColumn;
        border-radius: 15px;
        background-color: $white;
        width: 100%;
        box-shadow: $shadow-extra-light-lg;
        .restaurent-card__header {
          background-color: $grey-400;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
        .restaurant-card__content {
          @extend %rowCenter;
          padding: 15px 20px;
          width: 100%;
          .content {
            width: 100%;
            .content__title {
              font-size: 18px;
              font-weight: 500;
              margin-bottom: 4px;
            }
            .content__location {
              font-size: 17px;
              font-weight: 300;
            }
          }
        }
      }
      .restaurant-card.new::after {
        content: "Nouveau";
        position: absolute;
        top: 13px;
        right: 13px;
        padding: 7px 9px;
        background-color: $color-tertiary;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 500;
        border-radius: 2px;
        box-shadow: $shadow-light-sm;
      }
    }
  }
}

