.action-button {
  text-align: center;
}

.restaurants .restaurant__list li .restaurant-card, .restaurants .restaurant__list, .how-it-works .step-list, .footer .list_wrapper .link-list, .footer .list_wrapper, .footer, .hero, .header, .main-loader .loader-wrapper, .content__like-icon-wrapper {
  display: flex;
  flex-direction: column;
}

.how-it-works .step-list .step-list__item, .restaurants .restaurant__list li .restaurant-card .restaurant-card__content, .how-it-works .step-list .step-list__item::after, .header .header__location, .header .header__title, .main-loader {
  display: flex;
  flex-direction: row;
}

.hero, .header, .main-loader .loader-wrapper, .content__like-icon-wrapper, .restaurants .restaurant__list li .restaurant-card .restaurant-card__content, .how-it-works .step-list .step-list__item::after, .header .header__location, .header .header__title, .main-loader {
  align-items: center;
  justify-content: center;
}

.how-it-works .step-list .step-list__item::after, .content__like-icon-wrapper {
  height: 24px;
  width: 24px;
  font-size: 24px;
}

.how-it-works .step-list .step-list__item::after, .content__like-icon-wrapper .icon i {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes menu-list-item-begin {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  85% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes choice-select {
  0% {
    padding-inline: 0px;
  }
  100% {
    padding-inline: 15px;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes main-wrapper {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.action-button {
  text-align: center;
}

.restaurants .restaurant__list li .restaurant-card, .restaurants .restaurant__list, .how-it-works .step-list, .footer .list_wrapper .link-list, .footer .list_wrapper, .footer, .hero, .header, .main-loader .loader-wrapper, .content__like-icon-wrapper {
  display: flex;
  flex-direction: column;
}

.how-it-works .step-list .step-list__item, .restaurants .restaurant__list li .restaurant-card .restaurant-card__content, .how-it-works .step-list .step-list__item::after, .header .header__location, .header .header__title, .main-loader {
  display: flex;
  flex-direction: row;
}

.restaurants .restaurant__list li .restaurant-card .restaurant-card__content, .how-it-works .step-list .step-list__item::after, .header .header__location, .header .header__title, .main-loader, .hero, .header, .main-loader .loader-wrapper, .content__like-icon-wrapper {
  align-items: center;
  justify-content: center;
}

.how-it-works .step-list .step-list__item::after, .content__like-icon-wrapper {
  height: 24px;
  width: 24px;
  font-size: 24px;
}

.how-it-works .step-list .step-list__item::after, .content__like-icon-wrapper .icon i {
  position: absolute;
  top: 0;
  left: 0;
}

.action-button {
  transition: all 0.2s;
  display: block;
  border-radius: 9999px;
  font-size: 15px;
  font-weight: 500;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #fff;
  padding: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

.action-button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.action-button:active {
  filter: brightness(1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

.checkbox-hack {
  position: relative;
}
.checkbox-hack .checkbox-hack__input {
  display: none;
}
.content__like-icon-wrapper {
  position: relative;
}
.content__like-icon-wrapper .icon i {
  transition: opacity 200ms;
}
.content__like-icon-wrapper .icon .fa-solid {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  color: transparent;
}
.content__like-icon-wrapper:has(:not(:checked)) .icon .fa-solid {
  opacity: 0;
}
.content__like-icon-wrapper:has(:not(:checked)) .icon .fa-regular {
  opacity: 1;
}
.content__like-icon-wrapper:has(:checked) .icon .fa-solid {
  opacity: 1;
}
.content__like-icon-wrapper:has(:checked) .icon .fa-regular {
  opacity: 0;
}

.footer {
  background-color: #353535;
  padding: 30px 25px;
  color: #fff;
  gap: 25px;
}
@media (min-width: 1024px) {
  .footer {
    align-items: center;
    flex-direction: row-reverse;
    gap: 50px;
  }
}
.footer .footer__title {
  font-size: 18px;
  font-weight: 500;
  font-family: Shrikhand, serif;
}
.footer .list_wrapper {
  gap: 7px;
}
@media (min-width: 1024px) {
  .footer .list_wrapper {
    flex-direction: row;
    gap: 35px;
  }
}
.footer .list_wrapper .link-list {
  font-size: 16px;
  color: #fff;
  gap: 7px;
}
@media (min-width: 1024px) {
  .footer .list_wrapper .link-list {
    flex-direction: row;
  }
}
.footer .list_wrapper .link-list .icon {
  padding-right: 7px;
}

.section {
  padding: 50px 20px;
  margin-inline: auto;
}
.section .section__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

body {
  font-family: Roboto;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

.main-loader {
  animation: main-wrapper 0.3s ease 0.3s forwards;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.main-loader .loader-wrapper {
  transform: translateY(-100%);
}
.main-loader .loader-wrapper h1 {
  font-family: "Shrikhand", serif;
  margin-bottom: 15px;
}
.main-loader .loader-wrapper .loader {
  animation: loader 2s linear infinite;
  color: black;
  margin-bottom: 10px;
}
.main-loader .loader-wrapper p:first-of-type {
  margin-bottom: 5px;
}

@media (min-width: 1024px) {
  .main-container .section > * {
    max-width: 1080px;
    margin-inline: auto;
  }
}

.header .header__title {
  width: 100%;
  z-index: 100;
  height: 63px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  font-family: "Shrikhand", serif;
  font-size: 30px;
}
@media (min-width: 1024px) {
  .header .header__title {
    box-shadow: none;
    height: 96px;
    font-size: 34px;
  }
}
.header .header__location {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
@media (min-width: 1024px) {
  .header .header__location {
    box-shadow: none;
  }
}
.header .header__location .icon {
  padding-right: 10px;
}

.hero {
  text-align: center;
  gap: 30px;
  background-color: #F6F6F6;
}
@media (min-width: 1024px) {
  .hero .section__title {
    font-size: 40px;
  }
}
.hero p {
  color: #7E7E7E;
}

.how-it-works .step-list {
  list-style: none;
  counter-reset: how-it-works;
  font-weight: bold;
  gap: 20px;
  padding-left: 12px;
}
@media (min-width: 1024px) {
  .how-it-works .step-list {
    flex-direction: row;
    gap: 35px;
  }
}
.how-it-works .step-list .step-list__item {
  counter-increment: how-it-works;
  position: relative;
  border-radius: 20px;
  background-color: #F6F6F6;
  width: 100%;
  padding: 23px 30px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.how-it-works .step-list .step-list__item .icon {
  color: #7E7E7E;
  padding-right: 10px;
}
.how-it-works .step-list .step-list__item:last-child .icon {
  color: #9356DC;
}
.how-it-works .step-list .step-list__item::after {
  content: counter(how-it-works);
  top: 50%;
  padding-top: 2px;
  z-index: 100;
  transform: translate(-50%, -50%);
  border-radius: 1000px;
  background-color: #9356DC;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.restaurants {
  background-color: #F6F6F6;
}
.restaurants .restaurant__list {
  gap: 18px;
}
@media (min-width: 1024px) {
  .restaurants .restaurant__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 50px;
    column-gap: 100px;
  }
}
.restaurants .restaurant__list li {
  position: relative;
}
.restaurants .restaurant__list li .content__like-icon-wrapper {
  position: absolute;
  bottom: 25px;
  right: 20px;
}
.restaurants .restaurant__list li .restaurant-card {
  border-radius: 15px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.restaurants .restaurant__list li .restaurant-card .restaurent-card__header {
  background-color: #EAEAEA;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.restaurants .restaurant__list li .restaurant-card .restaurant-card__content {
  padding: 15px 20px;
  width: 100%;
}
.restaurants .restaurant__list li .restaurant-card .restaurant-card__content .content {
  width: 100%;
}
.restaurants .restaurant__list li .restaurant-card .restaurant-card__content .content .content__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}
.restaurants .restaurant__list li .restaurant-card .restaurant-card__content .content .content__location {
  font-size: 17px;
  font-weight: 300;
}
.restaurants .restaurant__list li .restaurant-card.new::after {
  content: "Nouveau";
  position: absolute;
  top: 13px;
  right: 13px;
  padding: 7px 9px;
  background-color: #99E2D0;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

/*# sourceMappingURL=homepage.css.map */
