.action-button {
  text-align: center;
}

.menu-section .menu-list, .footer .list_wrapper .link-list, .footer .list_wrapper, .footer, .content__like-icon-wrapper {
  display: flex;
  flex-direction: column;
}

.menu-section .section__title, .menu-section .menu-list .menu-list__card .is-selected, .header {
  display: flex;
  flex-direction: row;
}

.content__like-icon-wrapper, .menu-section .menu-list .menu-list__card .is-selected, .header {
  align-items: center;
  justify-content: center;
}

.content__like-icon-wrapper {
  height: 24px;
  width: 24px;
  font-size: 24px;
}

.menu-section .menu-list .menu-list__card .checkbox-hack, .content__like-icon-wrapper .icon i {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes menu-list-item-begin {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  85% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes choice-select {
  0% {
    padding-inline: 0px;
  }
  100% {
    padding-inline: 15px;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes main-wrapper {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
.action-button {
  text-align: center;
}

.menu-section .menu-list, .footer .list_wrapper .link-list, .footer .list_wrapper, .footer, .content__like-icon-wrapper {
  display: flex;
  flex-direction: column;
}

.menu-section .section__title, .menu-section .menu-list .menu-list__card .is-selected, .header {
  display: flex;
  flex-direction: row;
}

.menu-section .menu-list .menu-list__card .is-selected, .header, .content__like-icon-wrapper {
  align-items: center;
  justify-content: center;
}

.content__like-icon-wrapper {
  height: 24px;
  width: 24px;
  font-size: 24px;
}

.menu-section .menu-list .menu-list__card .checkbox-hack, .content__like-icon-wrapper .icon i {
  position: absolute;
  top: 0;
  left: 0;
}

.action-button {
  transition: all 0.2s;
  display: block;
  border-radius: 9999px;
  font-size: 15px;
  font-weight: 500;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #fff;
  padding: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

.action-button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.action-button:active {
  filter: brightness(1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

.checkbox-hack {
  position: relative;
}
.checkbox-hack .checkbox-hack__input {
  display: none;
}
.content__like-icon-wrapper {
  position: relative;
}
.content__like-icon-wrapper .icon i {
  transition: opacity 200ms;
}
.content__like-icon-wrapper .icon .fa-solid {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  color: transparent;
}
.content__like-icon-wrapper:has(:not(:checked)) .icon .fa-solid {
  opacity: 0;
}
.content__like-icon-wrapper:has(:not(:checked)) .icon .fa-regular {
  opacity: 1;
}
.content__like-icon-wrapper:has(:checked) .icon .fa-solid {
  opacity: 1;
}
.content__like-icon-wrapper:has(:checked) .icon .fa-regular {
  opacity: 0;
}

.footer {
  background-color: #353535;
  padding: 30px 25px;
  color: #fff;
  gap: 25px;
}
@media (min-width: 1024px) {
  .footer {
    align-items: center;
    flex-direction: row-reverse;
    gap: 50px;
  }
}
.footer .footer__title {
  font-size: 18px;
  font-weight: 500;
  font-family: Shrikhand, serif;
}
.footer .list_wrapper {
  gap: 7px;
}
@media (min-width: 1024px) {
  .footer .list_wrapper {
    flex-direction: row;
    gap: 35px;
  }
}
.footer .list_wrapper .link-list {
  font-size: 16px;
  color: #fff;
  gap: 7px;
}
@media (min-width: 1024px) {
  .footer .list_wrapper .link-list {
    flex-direction: row;
  }
}
.footer .list_wrapper .link-list .icon {
  padding-right: 7px;
}

.section {
  padding: 50px 20px;
  margin-inline: auto;
}
.section .section__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

body {
  font-family: Roboto;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

.header {
  position: relative;
  padding: 17px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
@media (min-width: 1024px) {
  .header {
    height: 96px;
  }
}
.header .header__previous-link {
  position: absolute;
  left: 17px;
  font-size: 20px;
}
.header .header__logo {
  font-family: "Shrikhand", serif;
  font-size: 30px;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .header .header__logo {
    font-size: 34px;
  }
}

.hero {
  height: 220px;
  width: 100%;
}
.hero img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.menu-section {
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  background-color: #F6F6F6;
  max-width: 1024px;
  margin-inline: auto;
  padding-top: 30px;
}
@media (min-width: 1024px) {
  .menu-section {
    padding-top: 50px;
  }
}
.menu-section .section__title {
  justify-content: space-between;
  font-family: "Shrikhand", serif;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .menu-section .section__title {
    justify-content: center;
    gap: 24px;
  }
}
.menu-section .menu-list {
  gap: 12px;
  list-style: none;
  max-width: 728px;
  margin-inline: auto;
}
.menu-section .menu-list li:nth-of-type(1) {
  --li: 1 ;
}
.menu-section .menu-list li:nth-of-type(2) {
  --li: 2 ;
}
.menu-section .menu-list li:nth-of-type(3) {
  --li: 3 ;
}
.menu-section .menu-list li:nth-of-type(4) {
  --li: 4 ;
}
.menu-section .menu-list li:nth-of-type(5) {
  --li: 5 ;
}
.menu-section .menu-list li:nth-of-type(6) {
  --li: 6 ;
}
.menu-section .menu-list li:nth-of-type(7) {
  --li: 7 ;
}
.menu-section .menu-list li:nth-of-type(8) {
  --li: 8 ;
}
.menu-section .menu-list li:nth-of-type(9) {
  --li: 9 ;
}
.menu-section .menu-list li:nth-of-type(10) {
  --li: 10 ;
}
.menu-section .menu-list li:nth-of-type(11) {
  --li: 11 ;
}
.menu-section .menu-list li:nth-of-type(12) {
  --li: 12 ;
}
.menu-section .menu-list li:nth-of-type(13) {
  --li: 13 ;
}
.menu-section .menu-list li:nth-of-type(14) {
  --li: 14 ;
}
.menu-section .menu-list li:nth-of-type(15) {
  --li: 15 ;
}
.menu-section .menu-list li:nth-of-type(16) {
  --li: 16 ;
}
.menu-section .menu-list li:nth-of-type(17) {
  --li: 17 ;
}
.menu-section .menu-list li:nth-of-type(18) {
  --li: 18 ;
}
.menu-section .menu-list li:nth-of-type(19) {
  --li: 19 ;
}
.menu-section .menu-list li:nth-of-type(20) {
  --li: 20 ;
}
.menu-section .menu-list:not(:last-of-type) {
  margin-bottom: 40px;
}
.menu-section .menu-list .section__title {
  margin-bottom: 20px;
}
.menu-section .menu-list .menu-list__title {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 16px;
  width: fit-content;
  padding-top: 40px;
}
.menu-section .menu-list .menu-list__title:first-child {
  padding-top: 0;
}
.menu-section .menu-list .menu-list__title::after {
  content: " ";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 5px;
}
.menu-section .menu-list .menu-list__card {
  overflow: hidden;
  position: relative;
  animation: 0.2s ease calc(100ms * var(--li)) menu-list-item-begin forwards;
  transform: translateX(120%);
  opacity: 0;
  background-color: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  display: flex;
  font-size: 15px;
}
.menu-section .menu-list .menu-list__card .card-content {
  padding: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.menu-section .menu-list .menu-list__card .card-content .price {
  align-self: end;
  font-weight: 500;
}
.menu-section .menu-list .menu-list__card .card-content .name-and-description {
  width: 100%;
}
.menu-section .menu-list .menu-list__card .card-content .name-and-description .name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.menu-section .menu-list .menu-list__card .card-content .name-and-description .description {
  font-weight: 300;
}
.menu-section .menu-list .menu-list__card .checkbox-hack {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
}
.menu-section .menu-list .menu-list__card .is-selected {
  transition: all 0.5s ease;
  width: 0;
  overflow: hidden;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #fff;
}
.menu-section .menu-list .menu-list__card .is-selected .icon {
  padding-left: 59px;
}
.menu-section .menu-list .menu-list__card:has(:checked) .is-selected {
  padding-right: 59px;
}
.menu-section .action-wrapper {
  padding-block: 50px 0px;
}
.menu-section .action-wrapper .action-button {
  width: 180px;
  margin: auto;
}

/*# sourceMappingURL=restaurants.css.map */
