@import "../base.scss";
.main-loader {
  animation: main-wrapper .3s ease 3s forwards;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    h1 {
      font-family: "Shrikhand", serif;
      margin-bottom: 15px;
    }
    .loader {
      animation: loader 2s linear infinite;
      color: black;
      margin-bottom: 10px;
    }
    p:first-of-type {
      margin-bottom: 5px;
    }
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes main-wrapper {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}


.header {
  .header__title {
    z-index: 100;
    padding-block: 8px;
    background-color: $white;
    box-shadow: $shadow-md;
    font-family: "Shrikhand", serif;
  }
  .header__location {
    padding-block: 16px;
    background-color: $grey-400;
    box-shadow: $shadow-lg;
    .icon {
      padding-right: 10px;
    }
  }
}
.hero {
    gap: 30px;
  background-color: $grey-600;
}

.how-it-works {
  .step-list {
    list-style: none;
    counter-reset: how-it-works;
    font-weight: bold;
    gap: 20px;
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
      flex-direction: row;
    }
    .step-list__item {
      counter-increment: how-it-works;
      position: relative;
      border-radius: 20px;
      background-color: $grey-600;
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 23px 30px;
      box-shadow: $shadow-lg;
      .icon {
        color: $grey-700;
        padding-right: 10px;
      }
      &:last-child .icon {
        color: $color-primary;
      }
    }
    .step-list__item::after {
      padding-top: 2px;
      z-index: 100;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      height: 24px;
      width: 24px;
      border-radius: 1000px;
      content: counter(how-it-works);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-primary;
      color: white;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
.restaurants {
  background-color: $grey-600;
  .restaurant__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
    .restaurant-card {
      border-radius: 15px;
      background-color: $white;
      display: flex;
      flex-direction: column;
      width: 100%;
      box-shadow: $shadow-lg;
      .restaurent-card__header {
        background-color: $grey-400;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      .restaurant-card__content {
        padding: 15px 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .content {
          width: 100%;
          .content__title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 4px;
          }
          .content__location {
            font-size: 17px;
            font-weight: 300;
          }
        }

      }
    }
  }
}
.footer {
  background-color: $light-black;
  padding: 30px 25px;
  .link-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: $white;
    gap: 16px;
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row-reverse;
    }
    .footer__title {
      font-size: 18px;
      font-weight: 500;
      font-family: Shrikhand, serif;
    }
    .icon {
      padding-right: 7px;
    }
  }
}
